html{
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
body{
    margin:0;
}
a{
    font-family: 'ZCOOL XiaoWei', serif;
}
p{
    font-family: 'ZCOOL XiaoWei', serif;
}
h1{
    font-family: 'EB Garamond', serif;
}
h2{
    font-family: 'EB Garamond', serif;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 234, 226);
}
/*map*/
.map{
    position: fixed;
    display: flex;
    height: 50px;
    background-color: rgb(190, 186, 186);
    width: 100%;
    text-align: center;
    line-height: 50px;
    text-align: center;

}
.map a{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.map img{
    min-width: 20px;
    position: absolute;
    top:10px;
    left: 10px;
}
.map .div{
    flex:1;
    padding-left: 55px;
}
.map .teleport{
    display: inline-block;
    max-height: 50px;
    text-decoration: none;
    text-align: center;
    padding: 0 20px;
    transition: all 0.5s;
    color: black;
}
.teleport:hover{
    background-color: rgb(114, 111, 111);
}
.map .about{
    min-width: 70px;
}
/*header*/
header{
    background-image: url(fotos/cover-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 50% 0%;
    background-clip: border-box;
    margin-top: 50px;
}
header .overlay{
    background-image: url(fotos/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 50% 0%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

header h1{
    font-size: 100px;
    color: #FFC53D;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 160px;
    line-height: 0;
}
header h2{
    color: #FFFFFF;
    font-size: 40px;
    padding: 0px;
}
header ul{
    display: flex;
    justify-content: center;
    padding: 20px;
}
header ul li{
    font-size: 30px;
    margin: 50px 15px 160px;
    padding:0px;
}

/*welcome*/

.welcome{
    text-align: center;
}
.welcome h2{
    font-size: 40px;
}
.welcome ul{
    display: flex;
    justify-content: center;
    padding: 0px;
    flex-wrap: wrap;

}
.button{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 2px solid rgba(256, 171, 62, 0.3);
    background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
    font: bold;
    color: #fff;
    border-radius: 16px;
    margin: 30px;
    text-decoration: none;
    transition: all 0.5s;
    text-align: center;
}
.button:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}

/*description*/

#about-me{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
#about-me b{
    flex: calc(1/7);
    text-align: right;
}
.data{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}
.data .img{
    flex:1;
    background-image: url(fotos/profil.jpg);
    background-size: cover;
    min-width: 140px;
    min-height: 140px;
    max-width: 140px;
    max-height: 140px;
    border: 3px solid gold;
    border-radius: 20px;
}
.data ul{
    flex:2;
    padding-left: 30px;
    padding-right: 10px;
    min-width: 250px;
}
.data .text {
    flex:4;
    padding-left: 30px;
    border-left: 4px solid #ff0;
    border-left-style: dashed;
    min-width: 300px;
}

/*skills*/

.skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
}
.skills ul{
    display: flex;
    justify-content:space-between;
    padding: 0px;
}
.skills ul li{
    width: 33.3333%;
    
}
.middle{
    border-left: 4px solid #ff0;
    border-right: 4px solid #ff0;
    border-left-style: dashed;
    border-right-style: dashed;
}
/*portfolio*/
.portfolio{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    padding-top: 80px;
    color: #fff;

}
#portfolio h2{
    width: 100%;
    text-align:center;
    color: #000;
}
#portfolio ul{
    display:flex;
    flex-wrap: wrap; 
    margin: 0px;
    padding: 0px;
}
#portfolio ul li{
    padding:40px;
    margin:0px;
    text-align:left;
}
#portfolio ul h2{
    text-align: left;
    color: #fff;
}
#portfolio .button{
    width: 100px;
    height: 50px;
}
.box1{
    background-image: url(fotos/work-abroad-unspl.jpg);
    background-size: cover;
    flex-grow: 5;
    min-width: 28%;
    min-height: 300px;
    background-position: 50% 0%;
    padding: 0 !important;
    margin: 0 !important;
}
.box1 .overlay{
    background-image: url(fotos/hover1.png);
    background-size: 100% 100%;
    min-height: 100%;
    padding: 30px 60px 30px 30px;
}
.box1 p{
    max-width: 230px;
}
.box2{
    background-image: url(fotos/20180619_150208-1.jpg);
    background-size: cover;
    flex-grow: 4;
    min-width: 22%;
    min-height: 300px;
    background-position: 50% 0%;
}
.box3{
    background-image: url(fotos/jedzienie.jpg);
    background-size: cover;
    flex-grow: 5;
    min-width: 28%;
    min-height: 300px;
    background-position: 50% 0%;
}
.box4{
    background-image: url(fotos/32739439685_8ac3345836_b.jpg);
    background-size: cover;
    flex-grow: 4;
    min-width: 28.5%;
    min-height: 300px;
    background-position: 50% 0%;
}
.box5{
    background-image: url(fotos/porady-grafiki_10_u1.jpg);
    background-size: cover;
    flex-grow: 10;
    min-width: 50%;
    min-height: 300px;
    background-position: 50% 0%;
    padding: 0 !important;
    margin: 0 !important;
}
.box5 .overlay{
    background-image: url(fotos/hover2.png);
    background-size: cover;
    min-height: calc(100% - 60px);
    background-position: 50% 0%;
    padding: 30px;
}
.box5 p{
    max-width: 400px;
}

/*contact*/

#contact{
    display:flex;
    flex-direction: column;
    width:80%;
    box-sizing: border-box;
    margin: 10% 10%;

}
.contact1{
    display:flex;
    width:100%;
}
.contact-d{
    background-color: #FF9A3D;
    width: 40%;
    padding: 35px 0px 35px 50px;
}
.contact-d p{
    width: 220px;
    font-family: none;
}
.contact-d ul{
    padding:0px;
}
.contact-s{
    width:60%;
}
#contact h2{
    margin-left: 30px;
}
.fontello{
    display:flex;
    margin-top:150px;
    font-size: 20px;
    padding-left:0px;
}
.selector{
    border: 2px solid rgba(245, 177, 31, 0.5);
    border-radius: 16px;
    background-color: rgb(250, 236, 107);
    width: 80%;
    height: 30px;
    margin-bottom:10px;
    padding-left: 10px;
}
.message{
    border: 2px solid rgba(245, 177, 31, 0.5);
    border-radius: 16px;
    background-color: rgb(250, 236, 107);
    width: 80%;
    padding: 10px;
    box-sizing;: border-box;
    height: 100px;
}

/*smallest windows*/

@media all and (max-width: 1100px){
    #about-me{
        flex-direction: column;
        align-items: center;
        padding:0;
        margin:0;
    }
    #about-me .data{
        flex-direction: column;
        align-items: center;
    }
    #about-me .data .text{
        border-left: none;
        border-top: 4px solid #ff0;
        border-top-style: dashed;
        padding-top: 15px;
        text-justify: justify;
        min-width: 200px;
    }
    .data .img{
        width:240px;
        height:240px;
    }
}
@media all and (max-width: 520px){
    #skills{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #skills ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    #skills ul li{
        padding-top: 20px; 
    }
    #skills .middle{
        border-top: 4px solid #ff0;
        border-bottom: 4px solid #ff0;
        border-top-style: dashed;
        border-bottom-style: dashed;
        border-left: none;
        border-right: none;

    }
}
@media all and (max-width: 1100px){
    .box1{
        width: 100%;
    }
    .box1 .overlay{
        padding-right: 30px;
    }
    .box2{
        min-width: 30%;
    }
    .box3{
        min-width: 30%;
    }
    .box4{
        min-width: 30%;
    }
    .box5{
        width: 100%;
    }
    .box5 .overlay{
        padding-right: 30px;
    }
    .contact1{
        flex-direction:column;
        align-items: center;
        margin: 0;
    }
    #contact h2{
        text-align:center;
    }
    .contact-d{
        margin: 0;
        width: 80%;
     
    }
    .contact-d p{
        
        width: unset;
        max-width: 220px;
        padding-right:50px;
    }
    .contact-s{
        margin: 0;
        width: 80%;
        padding:0;
    }
    #contact .button{
        margin: 30px 0;
        width: 80%;
    }
    

}
@media all and (max-width: 650px){
    .box2{
        min-width: 80%;
    }
    .box3{
        min-width: 80%;
    }
    .box4{
        min-width: 80%;
    }

}
@media all and (max-width: 500px){
    header h1{
        font-size: 62px;
        margin-bottom: 70px;
    }
    header h2{
        font-size: 32px;
    }
    .welcome h2{
        font-size: 32px;
    }
    .map img{
        display: none;
    }
    .map .div{
        display:none;
    }
}
@media all and (max-width: 410px){
    .map .teleport{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        width: 100%;
    }
    .map .long{
        min-width: 70px;
    }
}
